.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 0;
    width: 100%;
    background-color: $color-bg-footer;
    box-shadow: 0 -15px 50px $color-bg-footer;

    @media screen and (max-width: 768px) {
        padding: 15px 0;
    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__part {
        width: 33.3333%;

        @media screen and (max-width: 768px) {
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__author {
        font-weight: $font-weight-bold;
    }

    &__link {
        text-decoration: none;
    }
}

.author {
    display: block;
}
