$font:'Lato',
Arial,
Helvetica,
sans-serif;
$font-size-main:15px;
$def-padding: 25px;
$font-size-title: 50px;
$font-weight-thin: 300;
$font-weight-bold: 700;
$font-size-footer: 25px;
$color-bg-main: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(212, 213, 212, 1) 70%);
$color-bg-footer: #b9bbbb;
$color-btn: #F6BE00;
$color-btn-sec: #3674fd;
$color-border-btm: #F2F2F2;
