$font:'Lato',
Arial,
Helvetica,
sans-serif;
$font-size-main:16px;
$font-size-small:14px;
$font-size-mobile: 12px;
$font-size-extrasmall:10px;
$def-padding: 25px;
$small-pading: 10px;
$font-size-title: 50px;
$font-size-header: 20px;
$font-size-medium: 24px;
$font-weight-thin: 300;
$font-weight-bold: 700;
$font-size-footer: 20px;

$background-page:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 99%, rgba(169, 169, 169, 1) 100%);
$background-footer: #A9A9A9;
$background-footer-text: #F5F5F5;
$background-cart: #DBDBDB;
$background-book: #F8F9FA;
$background-slide: #B0D4B8;
$background-popup: whitesmoke;
$background-popup-sub1: rgba($color: #198754, $alpha: 0.85);
$background-popup-sub2: rgba($color: #198754, $alpha: 1);
$book-btn: #ABDED7;
$loader-clr: #5c636a;
